name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: thiagocb2504
          outputs: dist/snake.svg

      - name: Upload to output branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git fetch
          git switch output || git switch -c output
          cp dist/snake.svg snake.svg
          git add snake.svg
          git commit -m "update snake" || echo "No changes"
          git push origin output
